
    .message {
        grid-area: header;
        display: flex;
    
    .school-message{
        flex:1;
        width:50%;
    }
    .my-message{
        width:50%;
        // background-color: rgb(34, 48, 59);
        .message-box{
            color: white;
            display: flex;
            flex-wrap: wrap;
            .my-message-item{
                width: 200px;
                height: 80px;
                margin:8px ;
                border-radius: 5%;
                background-color: #2c7da0;
                overflow: hidden;
                .message-item-icon{
                    // border-radius: 10%;
                    float: left;
                    display: flex;
                    justify-content:center;
                    align-items:center;
                    width: 40%;
                    height: 100%;
                    background-color: #01497c;
                    
                }
                .message-text{
                    line-height: 80px;
                    .text-number{
                        color: #000000;
                    }
                    .text-number:hover{
                        color: #a9d6e5;
                        cursor: pointer;
                    }
                }
                .money-number{
                    line-height: 80px;
                    color: white;
                }
            }
        }
        
    }
    }
    .menu-nouse {
        grid-area: menu;
        background-color: #55a2bc;
    }
    .main {
        grid-area: main;
        // 居中
        display: flex;
        justify-content:center;
        align-items:center;
    .main-carousel{
        min-width: 400px;
        max-width: 600px;
        }
    }
    // 右边导航栏 日历
    .calendar-date{
        // 右侧布局
        grid-area: right;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    .item5 {
        grid-area: footer;
    }

    .grid-container {
    display: grid;
    grid:
        "header header header header header header"
        "menu main main main right right"
        "menu footer footer footer footer footer";
    grid-gap: 10px;
    // background-color: #e9f5ff;
    padding: 10px;
    }

    .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }
    .app-items{
        span{
            margin-right: 10px;
            font-size: 18px;
        }
        span:hover{
            color: #2c7da0;
            cursor: pointer;
        }
    }
